<p style="color: green"><%= notice %></p>

<h1>Compliance reports</h1>

<div id="compliance_reports">
  <% @compliance_reports.each do |compliance_report| %>
    <%= render compliance_report %>
    <p>
      <%= link_to "Show this compliance report", compliance_report %>
    </p>
  <% end %>
</div>

<%= link_to "New compliance report", new_compliance_report_path %>
