<h1>Editing compliance report</h1>

<%= render "form", compliance_report: @compliance_report %>

<br>

<div>
  <%= link_to "Show this compliance report", @compliance_report %> |
  <%= link_to "Back to compliance reports", compliance_reports_path %>
</div>
