<p style="color: green"><%= notice %></p>

<div>
  <%= @plan.title %>
  <% if @plan.report_complete? %>
    <p>Here is your report - <%= @plan.google_sheet_link %> </p>
  <% else %>
   <p> Your report is being generated, Please check back in 20 minutes </p>
  <% end %>
</div>
